.cart-page {
    height: 200vh;
    padding: 30px;

    h2 {
        font-size: 30px;
        font-weight: 500;
        color: #222;
        border-bottom: 2px solid #222;
        line-height: 60px;
        width: max-content;
    }

    .cart-container {
        display: flex;
        flex-wrap: wrap;
        height: 100px;

        .cart-items {
            width: 70%;

            .btn-danger {
                margin: 20px 0px;
            }

            .cart-item {
                display: flex;
                align-items: center;
                margin-bottom: 50px;
                border-bottom: 2px solid #222;

                .cartImage {
                    border-radius: 5px;
                    width: max-content;
                    height: max-content;
                    padding: 10px 20px;
                    margin-bottom: 50px;


                    img {
                        width: 130px;
                        height: 180px;
                    }


                }

                .cartInfo {
                    margin-top: -40px;
                    width: calc(100% - 140px);
                    display: flex;
                    flex-direction: column;


                    h6 {
                        font-size: 24px;
                        font-weight: 500;
                    }

                    span {
                        color: #222;
                        font-size: 24px;

                    }
                }
            }
        }

        .cartButton {
            display: flex;
            flex-direction: column;

            .cartQuan {
                display: flex;
                margin-bottom: 10px;

                span {
                    font-size: 24px;
                    text-align: center;
                    margin: 0px 10px;
                }

                button {
                    line-height: 0px;
                    border: none;
                    width: 35px;
                    height: 35px;
                    font-size: 30px;
                    background-color: #222;
                    color: white;
                    border-radius: 5px;

                    &:hover {
                        background-color: white;
                        color: #222;
                    }
                }
            }

            svg {

                width: 40px;
                height: 30px;
                margin: 0 auto;
                cursor: pointer;

                &:hover {
                    color: red;
                }
            }
        }

        .summary {
            margin-left: 50px;

            h4 {
                font-size: 30px;
                font-weight: 500;
                color: #222;
                border-bottom: 2px solid #222;
                line-height: 60px;
                width: max-content;
            }

            .summary-container {
                border: 1px solid #777;
                padding: 20px;
                margin-top: 50px;

                .order-item {
                    margin-bottom: 25px;

                    span {
                        color: #222;
                        text-transform: capitalize;
                        font-weight: 500;
                        font-size: 24px;
                    }
                }
            }
        }
    }
}

@media (max-width:500px) {
    .cart-page {

        .cart-container {
            .cart-items {
                width: 100%;

                .cart-item {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-wrap: wrap;

                    .cartInfo {
                        margin-left: 10px;

                        h6 {
                            font-size: 20px;
                        }

                    }

                    .cartImage {
                        padding: 10px 0px;
                        margin-bottom: 0;

                        img {
                            width: 130px;
                            height: 180px;
                        }

                    }

                }
            }

            .cartButton {
                margin-left: 100px;
                margin-top: -40px;
                margin-bottom: 40px;

                .cartQuan {
                    margin-bottom: 10px;

                    span {
                        font-size: 24px;
                        text-align: center;
                        margin: 0px 10px;
                    }

                    button {
                        width: 30px;
                        height: 30px;
                        font-size: 24px;


                    }
                }


            }
        }
    }
}